<div class="container">
  <h2>تسجيل جديد</h2>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <mat-form-field appearance="outline">
        <mat-label>الاسم الأول</mat-label>
        <input matInput formControlName="firstName" placeholder="الاسم الأول">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>الاسم الأخير</mat-label>
        <input matInput formControlName="lastName" placeholder="الاسم الأخير">
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field appearance="outline">
        <mat-label>البريد الإلكتروني</mat-label>
        <input matInput formControlName="email" placeholder="البريد الإلكتروني">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>رقم الجوال</mat-label>
        <input matInput formControlName="phoneNumber" placeholder="رقم الجوال">
      </mat-form-field>
    </div>
    <mat-form-field appearance="outline">
      <mat-label>اختر</mat-label>
      <mat-select formControlName="country">
        <mat-option *ngFor="let country of countries" [value]="country">{{country}}</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="form-group">
      <mat-form-field appearance="outline">
        <mat-label>كلمة المرور</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" placeholder="كلمة المرور">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>تأكيد كلمة المرور</mat-label>
        <input matInput [type]="hideConfirm ? 'password' : 'text'" formControlName="confirmPassword" placeholder="تأكيد كلمة المرور">
        <button mat-icon-button matSuffix (click)="hideConfirm = !hideConfirm" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirm">
          <mat-icon>{{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <mat-checkbox formControlName="acceptTerms">أوافق على كافة الشروط والأحكام</mat-checkbox>
    <mat-checkbox formControlName="verifyEmail">إرسال رمز التحقق من خلال البريد الإلكتروني</mat-checkbox>
    <mat-checkbox formControlName="verifyPhone">إرسال رمز التحقق من خلال رقم الجوال</mat-checkbox>
    <button mat-raised-button color="primary" type="submit" [disabled]="!registerForm.valid">تسجيل</button>
  </form>
  <p>لديك حساب؟ <a href="#">تسجيل الدخول</a></p>
</div>
